/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2015, 2:16:02 PM
    Author     : LYANH77
*/


header#header .menu,
header#header .menu ul,
header#header .menu li,
header#header .menu a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* Menu */
header#header .menu {	
	height: 40px;
	width: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
        margin-top: 40px;
}

header#header .menu li {
	position: relative;
	list-style: none;
	float: left;
	display: block;
	height: 40px;
}

/* Links */

header#header .menu li a {
	display: block;
	padding: 0 14px;
	margin: 6px 0;
	line-height: 28px;
	text-decoration: none;
	
	//border-left: 1px solid #959595;
	border-right: 1px solid #959595;

	font-family: helveticaneuelight;
	
	font-size: 16px;

	color: #00969b;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

header#header .menu li:first-child a {border-left: 1px solid #959595;
	border-right: 1px solid #959595; }
header#header .menu li ul li a {border: none !important}
header#header .menu li:last-child a{ border-right: none; }

header#header .menu li:hover > a { color: #fbbf13; }
header#header .menu .heart{color: #fbbf13}
header#header .menu .search {height: 30px; border: 1px solid #00969b; color: #00969b; margin-top: 4px;  }
header#header .menu .search input {border: none; background: none}
header#header .menu .search .submit {margin-left: 3px; margin-top: 3px}
header#header .menu .search .search_key {position: relative; top: -5px; font-family: helveticaneuelight;  color: #00969b; font-weight: normal; display: inline }
header#header .menu .search .search_key::-webkit-input-placeholder {
   color: #fbbf13
}

header#header .menu .search .search_key:-moz-placeholder { /* Firefox 18- */
   color: #fbbf13
}

header#header .menu .search .search_key::-moz-placeholder {  /* Firefox 19+ */
  color: #fbbf13 
}

header#header .menu .search .search_key:-ms-input-placeholder {  
  color: #fbbf13 
}

/* Sub Menu */

header#header .menu ul {
	position: absolute;
	top: 40px;
	left: 0;

	opacity: 0;
	
	//background: #1f2024;

	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;

	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}

header#header .menu li:hover > ul { opacity: 1; }

header#header .menu ul li {
	height: 0;
	overflow: hidden;
	padding: 0;
        width: auto;
	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}

header#header .menu li:hover > ul li {
	height: 23px;
	overflow: visible;
	padding: 0;
}

header#header .menu ul li a {
	width: 300px;
	//padding: 4px 0 4px 40px;
	margin: 0;

	border: none;
	//border-bottom: 1px solid #353539;
}

header#header .menu ul li:last-child a { border: none; }

/* Icons */

